body {
  background-color: $background-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

body,
button {
  font-family: 'Orbitron', sans-serif;
}

button {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: $font-white;
  color: $font-black;
  padding: 2px 5px;
  font-size: 0.7em;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}

canvas {
  z-index: 1;
}

.scoreboard {
  display: flex;
  width: 95vw;
  height: 80vh;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 50px -5px $shadow-lime;

  .player1-points,
  .player2-points {
    width: 47.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 430px;
  }

  .player1-points {
    background-color: $font-white;
    color: $font-black;
  }

  .player2-points {
    background-color: $font-black;
    color: $font-white;
  }

  .player1-sets,
  .player2-sets {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 10%;
    z-index: 1;
    font-size: 70px;
  }

  .player1-sets {
    left: 40%;
    color: $font-black;
  }

  .player2-sets {
    left: 50%;
    color: $font-white;
  }
}

.reset-btn {
  bottom: 0;
}

.fullscreen-btn {
  bottom: 25px;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}
