body {
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: white;
  padding: 5px;
}

body,
button,
h1 {
  font-family: 'Orbitron', sans-serif;
}

canvas {
  z-index: 1;
}

.scoreboard {
  display: flex;
  width: 95vw;
  height: 80vh;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 50px -5px rgba(204, 255, 0, 1);

  .player1-points,
  .player2-points {
    width: 47.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 450px;
  }

  .player1-points {
    background-color: white;
    color: black;
  }

  .player2-points {
    background-color: black;
    color: white;
  }

  .player1-sets,
  .player2-sets {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 10%;
    z-index: 1;
    font-size: 70px;
  }

  .player1-sets {
    left: 40%;
    color: black;
  }

  .player2-sets {
    left: 50%;
    color: white;
  }
}

.reset-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.8em;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}
