body {
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

body,
button {
  font-family: 'Orbitron', sans-serif;
}

.scoreboard {
  display: flex;
  width: 95vw;
  height: 80vh;
  border-radius: 50px;
  overflow: hidden;

  .player1,
  .player2 {
    width: 47.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 350px;
  }

  .player1 {
    background-color: white;
    color: black;
  }

  .player2 {
    background-color: black;
    color: white;
  }
}

.reset-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.8em;

  &:hover {
    cursor: pointer;
  }
}
